* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-size: 24px;
}
body {
    background-color: rgb(245, 245, 245);
}
header {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: rgba(95, 0, 0, 0.65);
    display: flex;
    justify-content: space-around;
    padding-top: 60px; 
}
video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
span {
    font-family: "Anta", sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 40px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
    list-style: none;
    padding: 0 25px;
    color: rgba(255, 255, 255, 0.7);
}
li:hover {
    color: rgba(255, 255, 255, 1);
}
main {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
.container {
    width: 1080px;
    background-color: rgba(255, 255, 255, 1);
}
.section-name {
    background-color: rgba(95, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    padding: 20px;
}

